/*
Coming Soon page
*/

hr.comingsoon-horizontal-line
{
   margin: auto;
   width: 40%;
}

div.comingsoon-background-img
{
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
